
<div class="row">
    <div class="col s6">
        <h3 class="text-white">Requests</h3>
    </div>
    <div class="col s6">
        <a ng-click="filters" class="waves-effect waves-light btn">Filters</a>
        <a ng-click="order" class="waves-effect waves-light btn">Most Recent</a>
    </div>
</div>
<div class="row">
    <div class="row">
         <div class="col-md-2 pull col-md-push-1">
             <ul style="list-style: none;">
                 <li>New</li>
                <li>In Progress</li>
                 <li>Completed</li>
                 <li>Overdue</li>
             </ul>
                 <hr class="m-y-2">
                 <ul style="list-style: none;">
                     <li>Completed by Me</li>
                 </ul>
         </div>
    <div class="col s4">
        
    </div>
    <div class="col s7">
        <div ng-repeat="client in clients">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-title">{{client.FirstName}} {{client.LastName}}</h3>
                    <ul style="list-style-type: none;">
                        <li class="glyphicon glyphicon-earphone">{{client.PhoneNumber1}}</li> /br
                        <li class="glyphicon glyphicon-envelope">>{{client.EmailAddress}}</li> /br
                        <li class="glyphicon glyphicon-map-marker">{{client.HouseNumber}} {{client.StreetAddress}} {{client.ZipCode}}</li>
                    </ul>
                    <h5>Services</h5>
                    <div ng-repeat="referral in client.referrals">
                        <div class="waves-effect waves-light btn modal-trigger" href="#modal1" ng-click="openConfirm(referral)">
                            {{referral.referraName}}
                        </div>
                    </div>
                    <h5>Notes</h5>
                    <textarea>{{client.Notes}}</textarea>
                </div>
            </div>
        </div>
    </div>
     <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Confirm</h4>
      <p>Do you want to mark {{Client.FirstName}} {{Client.LastName}} request for {{referral.ServiceCategory.ServiceCategoryName}} as {{$scope.referralProgressOrComplete}}.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="confirmReferral()">Agree</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red">Disagree</a>
    </div>
  </div>
</div>