<h4 ng-show="home.success">{{home.successMessage}}

<h3>Nashville Helps</h3>
<p>is a team of nonprofit organizations, educators, and other social service providers in the Nashville area that can help connect adults to the resources they need.</p>

<a ng-click="home.openClientForm()" class="waves-effect waves-light btn">Get Started</a>

<!-- Modal Structure -->
  <div id="clientFormModal" class="modal">
    <div id="slide1" ng-show="home.active == 1">
        <div class="modal-content">
            <h4>What is your name?</h4>
            <div class="input-field col s6">
                <input id="firstName" ng-model="home.clientForm.firstName" type="text" class="validate">
                <label for="firstName">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="lastName" ng-model="home.clientForm.lastName" type="text" class="validate">
                <label for="lastName">Last Name</label>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="home.changeSlide(2)" class="waves-effect waves-green btn-flat">Next</a>
            <a ng-click="home.exit()" class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
        </div>
    </div>
    <div id="slide2" ng-show="home.active == 2">
        <div class="modal-content">
            <h4>What is your phone number?</h4>
            <div class="row">
                <div class="input-field col s3">
                    <input id="areaCode1" ng-model="home.clientForm.areaCode1" type="text" class="validate">
                    <label for="areaCode1">Area Code</label>
                </div>
                <div class="input-field col s9">
                    <input id="phoneNumber" ng-model="home.clientForm.phoneNumber" type="text" class="validate">
                    <label for="phoneNumber">Phone Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <input id="areaCode2" ng-model="home.clientForm.areaCode2" type="text" class="validate">
                    <label for="areaCode2">Area Code</label>
                </div>
                <div class="input-field col s9">
                    <input id="phoneNumber" ng-model="home.clientForm.phoneNumber2" type="text" class="validate">
                    <label for="phoneNumber">Secondary Phone Number</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="home.changeSlide(1)" class="waves-effect waves-green btn-flat">Back</a>
            <a ng-click="home.changeSlide(3)" class="waves-effect waves-green btn-flat">Next</a>
            <a ng-click="home.exit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
        </div>
    </div>
    <div id="slide3" ng-show="home.active == 3">
        <div class="modal-content">
            <h4>What is your email address?</h4>
             <div class="input-field col s12">
                <input id="emailAddress" ng-model="home.clientForm.emailAddress" type="email" class="validate">
                <label for="emailAddress">Email Address</label>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="home.changeSlide(2)" class="waves-effect waves-green btn-flat">Back</a>
            <a ng-click="home.changeSlide(4)" class="waves-effect waves-green btn-flat">Next</a>
            <a ng-click="home.exit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
        </div>
    </div>
    <div id="slide4" ng-show="home.active == 4">
        <div class="modal-content">
            <h4>What is your address?</h4>
            <div class="row">
                <div class="input-field col s3">
                    <input id="houseNumber" ng-model="home.clientForm.houseNumber" type="text" class="validate">
                    <label for="houseNumber">House Number</label>
                </div>
                <div class="input-field col s6">
                    <input id="streetName" ng-model="home.clientForm.streetName" type="text" class="validate">
                    <label for="streetName">StreetName</label>
                </div>
                <div class="input-field col s3">
                    <input id="zipCode" ng-model="home.clientForm.zipCode" type="text" class="validate">
                    <label for="zipCode">Zip Code</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="home.changeSlide(3)" class="waves-effect waves-green btn-flat">Back</a>
            <a ng-click="home.changeSlide(5)" class="waves-effect waves-green btn-flat">Next</a>
            <a ng-click="home.exit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
        </div>
    </div>
    <div id="slide5" ng-show="home.active == 5">
        <div class="modal-content">
            <h4>What services are you requesting?</h4>
            <div class="input-field col s12">
                <p ng-repeat="service in home.services track by $index">
                    <input ng-click="home.toggleService(service)" name="{{$index}}" id="{{$index}}" type="checkbox" value="{{service}}" />
                    <label for="{{$index}}">{{service.ServiceCategoryName}}</label>
                </p>
                <label>Services</label>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="home.changeSlide(4)" class="waves-effect waves-green btn-flat">Back</a>
            <a ng-click="home.changeSlide(6)" class="waves-effect waves-green btn-flat">Next</a>
            <a ng-click="home.exit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
        </div>
    </div>
    <div id="slide6" ng-show="home.active == 6">
        <div class="modal-content">
            <h4>Is there anything else we should know about you?</h4>
            <div class="input-field col s12">
                <textarea id="notes" ng-model="home.clientForm.notes" class="materialize-textarea"></textarea>
                <label for="notes">Notes</label>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="home.changeSlide(5)" class="waves-effect waves-green btn-flat">Back</a>
            <a ng-click="home.changeSlide(7)" class="waves-effect waves-green btn-flat">Next</a>
            <a ng-click="home.exit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
        </div>
    </div>
    <div id="slide7"  ng-show="home.active == 7">
        <div class="modal-content">
            <h4>Review</h4>
            <ul>
                <li>First Name: {{home.clientForm.firstName}}</li>
                <li>Last Name: {{home.clientForm.lastName}}</li>
                <li>Email Address: {{home.clientForm.emailAddress}}</li>
                <li>Phone Number: ({{home.clientForm.areaCode1}}) {{home.clientForm.phoneNumber}}</li>
                <li>Secondary Phone Number: ({{home.clientForm.areaCode2}}) {{home.clientForm.phoneNumber2}}</li>
                <li>Address: {{home.clientForm.houseNumber}} {{home.clientForm.streetName}} {{home.clientForm.zipCode}}</li>
                <li>Services Requested: Insert Here</li>
                <li>Notes: {{home.clientForm.notes}}</li>
            </ul>            
        </div>
        <div class="modal-footer">
            <a ng-click="home.changeSlide(6)" class="waves-effect waves-green btn-flat">Back</a>
            <a ng-click="home.submit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
        </div>
    </div>
  </div>